<!DOCTYPE html>
<html lang="en">

    <head>
    <%- include('../partials/head'); %>
    </head>
    <body style="margin: 20px 150px">
    <header><%- include('../partials/header'); %></header>

    <main>

        <body>
            <div class="container text-center my-3">
                <div class="jumbotron" style="background-color: salmon;color: white;">
                    <h1>LOGIN ERROR</h1>
                    <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
                </div>
            </div>
        </body>

    </main>
    <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>